._ {
    position: relative;
    width: 50px;
    height: 100vh;
    margin-right: 10px;
}
.main {
    position: fixed;
    z-index: 10;
    width: 50px;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    transition: width 300ms ease;
}
.open {
    width: 250px;
}
.toggle {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 5px;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background-color: #f1c40f;
        transition: rotate 100ms ease;
    }
    &::before {
        box-shadow: 0 11px #f1c40f;
        transition: box-shadow 300ms ease;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 7px;
        left: 5px;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background-color: #f1c40f;
        transition: rotate 100ms ease;
    }
}
.open .toggle {
    &::before {
        rotate: 45deg;
        top: 18px;
    }
    &::before {
        box-shadow: none;
    }
    &::after {
        rotate: -45deg;
        bottom: 19px;
    }
}
.open .link_button {
    width: fit-content;
    svg {
        width: 40px;
    }
} 
.link_button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 40px;
    height: 40px;
    svg {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    p {
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 0 0 3px;
        font-size: 30px;
        position: relative;
        bottom: 0px;
        font-weight: 600;
    }
}
.block {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 45%);
    animation: show ease .3s 1 alternate none running;
    position: fixed;
    z-index: 5;
}
@keyframes show {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }
    100% {
        background-color: rgb(0 0 0 / 45%);
    }
}